img.headingImg {
    width: 96vw;
    height: 30vh;
    border-radius: 4em;
}

.home {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: min-content;
  }

.leftColumn {
    padding: 1rem;
  }

.rightColumn {
    padding: 1rem;
    float: none;
    text-align: justify;
    overflow: hidden;
  }

.rightColumnv2 {
    padding: 1rem;
    float: none;
    text-align: justify;
    overflow: hidden;
    /*width: 45em;*/
  }

.chessboard {
    width: 35em;
    margin: 0 auto;
  }

h1, h2, h3 {
    text-align: center;
}

.endgameTypesTable {
    margin-top: 50px;
  }

p.ETypeDesc {
    margin-left: 2em;
    margin-right: 2em;
    text-align: justify;
  }

.literature {
    margin-top: 2em;
    text-align: justify;
  }

.tag-container {
    display: flex;
    flex-direction: row;
    margin-top: 1em;
}

.positionList {
    display: flex-wrap;
    vertical-align: top;
}

.underBoard {
    font-weight: bold;
}

button.endgameTypeButton {
  height: 3.5em;
  width: 10em;
  font-size: medium;
  font-stretch: normal;
  margin-top: 0em;
  margin-bottom: 0em;
}

button.positionButton {
  height: 3em;
  width: 8.57em;
  font-size: medium;
  font-stretch: narrower;
}